; Windy.app Wind Forecast Plugin Configuration

[WINDYAPP]
LAT=47.85397
LON=13.0266
MODELS="ECMWF;AROME;GFS27;ICONGLOBAL;HRRR"
PREFERRED_MODEL=ECMWF
CRON=15
LANG=de

[SERVER]
SENDUDP=1
UDPPORT=7001
MSNO=1
